* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
}

#controls {
    display: flex;
    gap: 15px;

    margin-bottom: 20px;

    position: relative;
    z-index: 100;
}

#controls select,
#controls button {
    font-size: 18px;
    padding: 8px 14px;
    min-width: 180px;
}

canvas {

    display: block;

    width: min(95vw, 800px);

    height: auto;

    aspect-ratio: 4 / 3;

    border: 4px solid white;

}